<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--Allowing the page to appear evenly in the respective device (preventing desktop view on mobile).-->
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <!--Title Displayed in the Browser Tab.-->
        <title>Δίκτυο Σχολικών Βιβλιοθηκών</title>
        <style>
            h1 {
                color: red;
            }

            .headline {
                text-decoration: none;
                color: red;
                font-size: 30px;
            }

            .headline:hover {
                font-size: 32px;
            }
        </style>
    </head>
    <body>
        <h1><a class="headline", href="{{url_for('home.home_page')}}">Δίκτυο Σχολικών Βιβλιοθηκών</a></h1>
        <a href="{{ url_for('school_user.borrowed_books', role=role, user_id=user_id, username=username) }}">Ιστορικό Δανεισμών (Query 3.3.2)</a> &ensp;
        <a href="{{url_for('auth.logout')}}">Log Out</a>
        <br>
        <a>Οδηγός Χρήστη</a> <br>
        <br>
    </body>
</html>