<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--Allowing the page to appear evenly in the respective device (preventing desktop view on mobile).-->
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <!--Title Displayed in the Browser Tab.-->
        <title>Δίκτυο Σχολικών Βιβλιοθηκών</title>
        <style>
            h1 {
                color: red;
            }

            .headline {
                text-decoration: none;
                color: red;
                font-size: 30px;
            }

            .headline:hover {
                font-size: 32px;
            }
        </style>
    </head>
    <body>
        <h1><a class="headline", href="Teacher_Dashboard.html">Δίκτυο Σχολικών Βιβλιοθηκών</a></h1>
        <a href="Edit_profile_Teacher.html">Επεξεργασία Στοιχείων Χρήστη</a> <br>
        <br>
        <a href="Personal_Borrow_History.html">Ιστορικό Δανεισμών</a> <br>
        <br>
        <a>Οδηγός Χρήστη</a> <br>
        <br>
        <a href="Home_page.html">Log Out</a>
    </body>
</html>